rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user/{userId}/maps/{docId} {
      allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
    }
    match /user/{userId}/maps {
      allow read: if request.auth != null && request.auth.uid == userId;
    }
  }
}